.reset {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        line-height: 1;
        text-align: left;
        font-size: inherit;
        box-sizing: border-box;
        border-style: solid;
        border-width: 0;
        visibility: inherit;
    }

    .float-container-left,
    .float-container-right {

        &::before,
        &::after {
            /*clearfix*/
            content: "";
            display: block;
            clear: both;
        }

        & > * {
            display: block;
            position: relative;
            width: auto;
            /*include min-height:1px because floating
            divs that take up no space are removed from
            the document, and we don't want them to be
            removed.*/
            min-height: 1px;
        }
    }

    .float-container-left > * {
        float: left;
    }

    .float-container-right > * {
        float: right;
    }

    .bold {
        font-weight: bold;
    }

    .hard-wrap {
        white-space: normal;
        word-break: break-all;
    }

    .no-wrap {
        white-space: nowrap;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    *,
    *:active,
    *:link,
    *:visited,
    *:hover {
        &.no-decoration {
            text-decoration: none;
        }
    }

    .no-select {
        user-select: none;
    }

    .nowrap {
        white-space: nowrap;
    }

    .border-all {
        border-width: 1px;
    }


    .margin-top {
        margin-top: 10px;
    }

    .margin-top-5 {
        margin-top: 5px;
    }

    .margin-right {
        margin-right: 10px;
    }

    .margin-right-5 {
        margin-right: 5px;
    }

    .padding-all {
        padding: 10px;
    }

    .padding-right {
        padding-right: 10px;
    }

    .padding-right-20 {
        padding-right: 20px;
    }

    .padding-bottom {
        padding-bottom: 10px;
    }

    :is(th,td).stretch {
        width: 99.99%;
    }

    :is(table,th,td).shrink {
        width: 0.01px;
    }

    .block {
        display: block;
    }

    .inline-block {
        display: inline-block;
    }

    div {
        display: block;
    }

    .right {
        margin-left: auto;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .left {
        margin-right: auto;
    }

    label {
        display: block;

        & > *:first-child {
            &:not(input,textarea,select,button) {
                font-size: 10px;
            }
        }

        & > *:not(:first-child) {
            margin-top: 5px;
        }

        & *:is(input,textarea,select,button) {
            display: block;
        }
    }

    table.list > * > tr > *:first-child {
        white-space: nowrap;
        text-align: right;
        width: 0.01px;
    }

    table:is(.pad-h-5,.pad-h-10) {
        & > * > tr > *:first-child {
            padding-left: 0;
        }

        & > * > tr > *:last-child {
            padding-right: 0;
        }
    }

    table {
        &.pad-h-5 > * > tr > * {
            padding-left: 3px;
            padding-right: 2px;
        }

        &.pad-h-10 > * > tr > * {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    table:is(.pad-v-5,.pad-v-10) {
        & > * > tr:first-child > * {
            padding-top: 0;
        }

        & > * > tr:last-child > * {
            padding-bottom: 0;
        }
    }

    table {
        &.pad-v-5 > * > tr > * {
            padding-top: 3px;
            padding-bottom: 2px;
        }

        &.pad-v-10 > * > tr > * {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    table {
        width: 100%;
        empty-cells: show;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: auto;
        vertical-align: baseline;
        display: table;
    }

    tr {
        display: table-row;
    }

    th {
        display: table-cell;
        vertical-align: middle;
    }

    td {
        display: table-cell;
        vertical-align: middle;
    }

    table:is(.padh5,.padh10) {
        & > * > tr > *:first-child {
            padding-left: 0;
        }

        & > * > tr > *:last-child {
            padding-right: 0;
        }
    }

    table {
        &.padh5 > * > tr > * {
            padding-left: 3px;
            padding-right: 2px;
        }

        &.padh10 > * > tr > * {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}